body{
    background: url(../assets/food.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.maincontainer{
    margin: 350px 0px 50px 0px;
    max-width: 500px;
    padding: 50px;
    background-color: #F9EBEA;
    border-radius: 5px;
    text-align: center;
}
h1, h2{
    margin: 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
}
p{
    width: 50%;
}
li{
    text-align: left;
}
@media(max-width:975px){
    .maincontainer{
        padding: 25px 5px;
    }
}