
body{
     display: flex;
     justify-content: center;
     align-items: center;   
     background: url(../assets/gymbg.jpeg);
     background-size: contain;
} 
.maincontainer{
    margin: 50px 0;
    max-width: 500px;
    padding: 50px;
    background-color: #F9EBEA;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}
h1{
    margin: 20px 0;
}
ul{
    margin: 20px 0;
}
li{
    list-style-type: none;
    font-size: 18px;
    line-height: 1.5;
}